body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #31b0d5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #282828;
}

nav a {
    color: #5bc0de;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav a:hover {
    color: #31b0d5;
}